Source: propertyservicesmonitor
Section: admin
Priority: optional
Maintainer: Chris DeRose <chris@chrisderose.com>
Build-Depends: debhelper (>=11~), libfmt-dev, libpoco-dev, libyaml-cpp-dev
Standards-Version: 4.1.4
Vcs-Browser: https://github.com/brighton36/property-services-monitor
Vcs-Git: https://github.com/brighton36/property-services-monitor
Homepage: https://github.com/brighton36/property-services-monitor

Package: propertyservicesmonitor
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This is a lightweight tool to test services and servers 
 on a property, and e-mail an address with the results of those tests.

